<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex space-x-4">
            <a href="{% url 'index' %}" class="text-white hover:text-gray-300">Home</a>
            <a href="{% url 'todo' %}" class="text-white hover:text-gray-300">Todo</a>
        </div>
        <div>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="text-white">Log out</a>
            {% endif %}
        </div>
    </div>
</nav>
