{% load static %}
{% load static tailwind_tags %} 
{% load component_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} DHAT Stack {% endblock title%}</title>
        <script defer src="{% static 'js/htmx.min.js' %}"></script>
        <script defer src="{% static 'js/alpine.min.js' %}"></script>
        {% tailwind_css %} 
        {% component_css_dependencies %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% include "_navbar.html" %}
        <main class="container mx-auto px-4" id="root_container">
            {% block content %} {% endblock content %}
        </main>
        {% component_js_dependencies %}
    </body>
</html>
